AZURE_SUBSCRIPTION_ID=8b1f1987-05ac-4fc6-9fa9-7dfba474f238
AZURE_RESOURCE_GROUP=rg-genai-project-dev
AZUREAI_PROJECT_NAME=arvin-genai-project
AZURE_OPENAI_CHAT_DEPLOYMENT=gpt-4
AZURE_OPENAI_EMBEDDING_MODEL=text-embedding-ada-002